@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: darkgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  padding: 0 20px;
  display: flex;
}
.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  color: aliceblue;
  flex:1;
  background-size: cover;
  background-position: center;
  background-repeat: ;
}